.card{
    position: relative;
    max-width: 900px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    .contentContainer{
        position: absolute;
        height: 100%;
        width: 60%;
        background: linear-gradient(90deg, rgba(3,13,22,0.8) 0%, rgba(3,13,22,0.5) 80%, rgba(3,13,22,0) 100%);
        
    }
    .img{
        max-width: 900px;
        
       
    }
}   