$angle-deg: 35deg;
$angle-rad: $angle-deg / 1deg * 0.0174533;
$sin: calc(sin($angle-rad) + 0.1);

.btn {
  width: var(--size);
  height: calc(var(--size) * 2);
  opacity: 0.8;
  position: relative;
   
  .lineTop,
  .lineBottom {
    position: absolute;
    background-color: white;
    height: 66%;
    width: calc(var(--size) * 0.22); 
    left: 0;
  }

  .lineTop {
    top: 0;
    transform-origin: top left;
    transform: rotate(-$angle-deg);
    

    clip-path: polygon(
      0 0,
      100% calc(var(--size) * 0.22 * #{$sin}),
      100% 100%,
      0 calc(100% - calc(var(--size) * 0.22 * #{$sin}))
    );
  }

  .lineBottom {
    bottom: 0;
    transform-origin: bottom left;
    transform: rotate($angle-deg);
    

    clip-path: polygon(
      0 calc(var(--size) * 0.22 * #{$sin}),
      100% 0,
      100% calc(100% - calc(var(--size) * 0.22 * #{$sin})),
      0 100%
    );
  }
}
