.mainDescription {
  
  width: 100%;
  padding: 80px 0px 40px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  
}

.descriptionContainer{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 500px;
  
}
.image{
  border-radius: 15px;
}