*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #030D16;
    color: white;
    overflow: hidden;
    
    
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
