.slider{
    position: relative;
    max-width: 900px;
    height: 500px;
    
    margin: 0 auto;
    
    .sliderLine{
        position: absolute;
        display: flex;
        gap: 40px;
        height: 100%;
        
    }
    
    .arrowLeft{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        left: -12%;
    }
    .arrowRight{
        
        position: absolute;
        top: 50%;
        right: -12%;
        transform: translateY(-50%);
        z-index: 1;
    }
}